# OS & editor junk
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# Node & PHP dependencies
node_modules
vendor

# Build artifacts
/public/build
/public/hot
/public/storage

# Laravel caches & logs
/storage/*.key
/storage/framework/*
/storage/logs/*

# Composer & npm cache
composer.lock
package-lock.json

# IDEs and dev tools
/.idea
/.vscode
/.fleet
/.phpunit.cache
.phpactor.json
.phpunit.result.cache
.phpstorm.meta.php

# Local development files
Homestead.json
Homestead.yaml
auth.json
