@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Tell Tailwind where to look for class usage */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Customize tokens with CSS custom properties */
@theme {
  /* Colors */
  --color-black: #060606;
  --color-primary: #ff6b35;
  --color-secondary: #004e89;

  /* Fonts */
  --font-hanken-grotesk: "Hanken Grotesk", sans-serif;

  /* Font sizes */
  /*A tip: To convert pixels to rem, divide the amount of pixels by its base font size*/
  --text-2xs: 0.625rem;
}
